*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
   background-color: #28287130;
}

.App {
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.calculator {
  
  display:flex;
  flex-direction: column;
  width: 320px;
  height: 450px;
  padding: 5px;
  background-color: #282823;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.formulaScreen {
  min-height: 20px;
  font-size: 1.5rem;
  color:orangered;
  text-align: right;
  line-height: 20px;
  word-wrap: break-word;
  border: none;
}
#display {
  font-size: 2.5rem;
  color: white;
  text-align: right;
  line-height: 35px;
  
}

#clear {
  background-color: #ff6666; 
  
}
.jumbo {
  width: 160px;
}
 #zero {
  bottom:33px;
} 
#decimal {
  bottom: 33px;
}
button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white ;
  background-color: #282823;
  outline: 1px solid black;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.operatorButton {
  background-color: rgb(102, 102, 102 );
}

#equals {
  background-color: midnightblue;
  
  height: 136px;
  bottom: 70px;
}
.author {
  display: flex;
  justify-content: center;
}